# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
*.egg-info/

# Node / frontend stuff (если есть)
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
